<% layout('client/boilerplate') -%>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        <%= post.content %> </br>

          <a href="http://spaceipsum.com/">
            <%= post.author %>
          </a>. Photographs by
          <a href="https://www.flickr.com/photos/nasacommons/">
            <%= post.createdAt %>
          </a>.</p>
      </div>
    </div>
  </div>